{% extends "encyclopedia/layout.html" %}

{% block title %}
    Add
{% endblock %}

{% block body %}
    <form action="{% url 'encyclopedia:add' %}" method="POST">
        {% csrf_token %}
        <div>
            <label for="title">Title: </label>
            <input id="title" type="text" name="title" placeholder="Title">
        </div>
        <div>
            <label for="content">Content: </label><br>
            <textarea name="content" id="content" cols="30" rows="4" placeholder="Type your content"></textarea>
        </div>
        <button type="submit" >Save page</button>
    </form>
{% endblock %}