body {
    background-color: rgb(215, 208, 208);
    text-align: center;
}
.submit {
    background-color: rgb(242, 65, 65);
    border-radius: 8px;
}
#logo {
    font-size: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    padding: 10px;
}
.g,.B {
    color: #4885ed;
}
.o,.e {
    color: #db3236;
}
.oo {
    color: #f4c20d;
}
.l {
    color: #3cba54;
}