{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    <div class="list-group">
        {% for listing in listings %}
            <div class="list-group-item d-flex flex-row">
                    <div class="p-2">
                    {% if listing.img_url %}
                        <img class="img-thumbnail" width="300px" src="{{ listing.img_url }}">
                    {% endif %}
                    </div>
                    <div class="p-4">
                        <h4><a href="{% url 'listings' listing.id %}">{{ listing.title }}</a></h4>
                        <p><strong>Price:</strong> ${{ listing.bid }}</p>
                        <p><strong>Category:</strong> {{ listing.category }}</p>
                    </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}