{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Listing: {{ listing.title }}</h2>
    <div class="border">
        {% if not listing.active %}
        {% if winner %}
            <p class="alert alert-success" >Your bid won!!!</p>
        {% else %}
            <p class="alert alert-danger"> Your bid lost!!!</p>
        {% endif %}
        {% endif %}

        {% if listing.img_url %}
        <img src="{{ listing.img_url }}" class="rounded p-5" alt="listing-image">
        {% endif %}

        <div class="p-3">
            <p><strong>Description:</strong> {{ listing.description }}</p>
            <h4>Price: ${{ listing.bid }}</h4>
            <p>Hosted by: {{ listing.user }}</p>

            {% if listing.active %}
            <a href="{% url 'add_watchlist' listing.id %}" class="btn btn-dark">Watchlist</a>
            {% endif %}
        </div>

        <div class="border p-2">
            {% if message %}
                <p class="alert alert-danger" >{{ message }}</p>
            {% endif %}

            {% if listing.active %}
            <form action="{% url 'listings' listing.id %}" method="post">
                {% csrf_token %}
                <input class="form-control my-2" type="number" name="bid_amount" placeholder="USD">
                <button class="btn btn-primary">Bid</button>
                {% if current_user %}
                <a href="{% url 'deactivate' listing.id %}" class="btn btn-danger">Close Bid</a>
                {% endif %}
            </form>
            {% else %}
                <p class="alert alert-danger" >Listing is unavailable</p>
            {% endif %}
        </div>

        <div class="border p-2">
            <h3>Comments</h3>
            {% for comment in comments%}
                <div class="border p-2" >
                    <p><strong>{{ comment.user }}</strong></p>
                    <p class="border p-2 bg-light" >{{ comment.comment }}</p>
                </div>
            {% empty %}
                <p>No comments.</p>
            {% endfor %}
            <div class="border p-2" >
                <form action="{% url 'comment' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <input class="form-control" type="text" name="comment" id="comment" placeholder="Type here">
                    </div>
                    <input type="hidden" name="listing" value='{{ listing.id }}'>
                    <button type="submit" class="btn btn-primary">Comment</button>
                </form>
            </div>
        </div>
    </div>
    
{% endblock %}